<h1>Signup!</h1>

<style>
  .form-label {
    display: inline-block;
    width: 150px;
  }

  .form-field {
    display: inline-block;
    width: 200px;
  }
</style>

<%= form_for :user, url: '/users' do |f| %>
  <div class="form-group">
    <%= f.label :name, class: 'form-label' %>
    <%= f.text_field :name, class: 'form-field' %>
  </div>

  <div class="form-group">
    <%= f.label :email, class: 'form-label' %>
    <%= f.text_field :email, class: 'form-field' %>
  </div>

  <div class="form-group">
    <%= f.label :password, class: 'form-label' %>
    <%= f.password_field :password, class: 'form-field' %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, class: 'form-label' %>
    <%= f.password_field :password_confirmation, class: 'form-field' %>
  </div>

  <%= f.submit "Submit" %>
<% end %>